{#Terminado - PC y movil#}
<div class="card lg:card-side my-5">
    <div class="w-full pr-20 lg:w-2/6">
        <img src="{{asset('img/app_1.png')}}">
    </div> 
    <div class="card-body w-full text-center lg:text-left lg:w-4/6 lg:p-20">
        <div class="mr-96">
            <img src="{{asset('img/app-viajero.png')}}">
        </div> 
        <p>
            Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. 
            Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.
        </p> 
        <div class="flex flex-wrap justify-between mt-4 lg:card-actions">
            <button class="btn w-20 lg:w-3/12 btn-sm bg-blue-800 border-blue-800">
                <a href="#">App Store</a>
            </button> 
            <button class="btn w-20 lg:w-3/12 btn-sm bg-blue-800 border-blue-800">
                <a href="#">Apklis</a>
            </button>
            <button class="btn w-20 lg:w-3/12 btn-sm bg-blue-800 border-blue-800">
                <a href="#">Google Play</a>
            </button>
        </div>
    </div>
</div> 
<div class="card lg:card-side my-5 lg:flex-row-reverse">
    <div class="w-full pl-20 lg:w-2/6">
        <img src="{{asset('img/app_2.png')}}">
    </div> 
    <div class="card-body w-full text-center lg:text-left lg:w-4/6 lg:p-20">
        <div class="mr-96">
            <img src="{{asset('img/app-conductor.png')}}">
        </div> 
        <p>
            Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. 
            Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.
        </p> 
        <div class="flex flex-wrap justify-between mt-4 lg:card-actions">
            <button class="btn w-20 lg:w-3/12 btn-sm bg-blue-800 border-blue-800"><a href="#">App Store</a></button> 
            <button class="btn w-20 lg:w-3/12 btn-sm bg-blue-800 border-blue-800"><a href="#">Apklis</a></button>
            <button class="btn w-20 lg:w-3/12 btn-sm bg-blue-800 border-blue-800"><a href="#">Google Play</a></button>
        </div>
    </div>
    
</div>
  
  