{#Terminado - PC y movil#}
<div class="flex flex-wrap bg-blue-800 rounded-t-2xl">
    <div class="w-52 lg:w-3/12 pt-6 lg:p-10 ml-20 lg:ml-120">
        <img src="{{asset('img/nuestros-autos.png')}}" alt="contactos">
    </div>
    <div class="w-full">
        <div class="flex flex-wrap w-full items-baseline py-11 px-14 text-center font-bold text-white">
            <div class="w-full lg:w-4/12 py-6 lg:px-12">
                <img src="{{asset('img/auto-clasico.png')}}" alt="clásico">
                <br>
                <p>CLÁSICO</p>
            </div>
            <div class="w-full lg:w-4/12 py-6 lg:px-12">
                <img src="{{asset('img/auto-moderno.png')}}" alt="moderno">
                <br>
                <p>MODERNO</p>
            </div>
            <div class="w-full lg:w-4/12 py-6 lg:px-12">
                <img src="{{asset('img/auto-minivan.png')}}" alt="mini van">
                <br>
                <p>MINI VAN</p>
            </div>
        </div>
    </div>
</div>