{#Terminado - PC y movil#}
<footer class="p-10 footer bg-warning text-base-content footer-center">
    <div class="w-52 lg:w-1/6">
        <img src="{{asset('img/contactos.png')}}" alt="contactos">
    </div>
    <div class="flex flex-wrap">
        <div class="w-full">
            Cototre #6547 entre Gritres y Grisbel, Frusen
        </div>
        <div class="w-full font-bold">
            +53 54836543
        </div>
    </div>  
    <div>
      <div class="grid grid-flow-col gap-4">
        <a class="w-12 lg:w-6">
            <img src="{{asset('img/redes-01.png')}}" alt="whatsapp" viewBox="0 0 24 24" class="fill-current">  
        </a> 
        <a class="w-12 md:w-6">
            <img src="{{asset('img/redes-02.png')}}" alt="facebook" viewBox="0 0 24 24" class="fill-current">
        </a> 
        <a class="w-12 md:w-6">
            <img src="{{asset('img/redes-03.png')}}" alt="instagram" viewBox="0 0 24 24" class="fill-current">
        </a>
      </div>
    </div> 
</footer>
<div class="bg-blue-800 text-white w-full text-center py-5 font-bold">
    ALTAXI 2021. TODOS LOS DERECHOS RESERVADOS
</div>
  
  