{#Terminado#}
<div class="bg-blue-800 relative h-96 lg:h-auto w-full">
    <img class="object-cover object-4/5 h-full lg:h-auto overflow-hidden" src="{{asset('img/ciudad.png')}}">
    <img class="top-36 left-16 lg:left-64 h-60 lg:h-80 absolute" src="{{asset('img/movil.png')}}">
    <img class="top-36 lg:top-52 left-44 lg:left-200 h-44 lg:h-64 absolute " src="{{asset('img/cliente.png')}}">
    <img class="bottom-0 left-60- lg:left-64 max-w-lg lg:max-w-full w-120 h-40 absolute" src="{{asset('img/taxi.png')}}">
</div>