{#Terminado#}
<div class="h-104 lg:h-80 w-full relative">
    <div class="w-full lg:w-240 h-104 lg:h-80 text-center text-white 
    bg-warning absolute left-0 lg:left-48 top-12 rounded-2xl">

        <div class="w-52 lg:w-3/12 p-4 ml-16 lg:ml-88">
            <img src="{{asset('img/nosotros.png')}}" alt="contactos">
        </div>
        <p class="lg:w-4/6 m-6 lg:ml-36 text-blue-800">Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. 
            Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.
        </p>
        <div class="w-52 lg:w-3/12 ml-16 lg:ml-88 absolute bottom-0">
            <img src="{{asset('img/planta.png')}}" alt="contactos">
        </div>
    </div>
</div>