{#Terminado - PC y movil#}
<div class="bg-blue-800 rounded-2xl">
    <div class="w-52 lg:w-3/12 pt-24 lg:pt-36 pb-0 lg:pb-8 ml-16 lg:ml-120">
        <img src="{{asset('img/viajemos.png')}}" alt="viajemos">
    </div>
    <div class="flex flex-wrap w-full lg:w-2/4 lg:ml-80 px-8 py-8 lg:pb-20">
        <div class="flex flex-wrap w-full lg:w-4/6 pb-8 lg:pb-0">
            <input type="text" placeholder="Ingresa punto de partida" class="w-full input input-bordered mb-2 lg:m-1.5"> 
            <input type="text" placeholder="Ingresa un destino" class="w-full input input-bordered m-0 lg:m-1.5">
        </div>
        <div class="flex flex-wrap w-full lg:w-2/6">
            <button class="btn btn-primary w-full mb-2 lg:m-1.5 border-white bg-blue-800">Programar más tarde</button>
            <button class="btn btn-primary w-full m-0 lg:m-1.5 border-white bg-blue-800">Pedir ahora</button>
        </div>
    </div>
</div>
  